header {
  position: fixed;
}
body {
  background-color: lightblue;
}
.heading {
  text-align: center;
}
.forPic {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  /*background-color: red;*/
  background-image: url('picOfMe.jpg');
  border-radius: 50%;
}
.subHead {
  text-align: center;
  position: relative;
  top: -20px;
}
.abouts {
  font-weight: 800;
  font-size: 2em;
  width: 100%;
  display: inline;
  list-style-type: none;
}
#topOfPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: yellow;
}
#divAbouts {
  position: absolute;
  left: 0;
  margin-top:306px;
  width: 100%;
  background-color: lightgreen;
}
.abouts a {
  color: red;
}
#link {
  position: absolute;
  margin-top: 600px;
  z-index: 1;
  border: 4px solid red;
}
.lis {
  display: inline-block;
  margin: 0 200px;
}
.blurb {
  display: none;
  position: absolute;
  margin-top: 400px;
  margin-left: 300px;
}
.pblurb {
  text-align: center;
}
.nextBlurb {
  display: none;
  margin-left: 500px;
  text-align: center;
  position: absolute;
  top: 500px;
}
#picOfMe {
  -webkit-transform: rotate(270deg);
  border-radius: 30%
}
#pic {
  margin-left: 620px;
}
#headOfPage {
  z-index: 1;
  border: 4px solid red;
  height: 130px;
  width: 130px;
}


